

  

  <header class="categorieHeader">
    
    <h1>Categories</h1>
  </header>

  <ul id="categoriesListCss">
    {{#each categoryList}}
    <a href="/news/{{this.categoryName}}"> <li> {{this.categoryName}}</li> </a>  
    {{/each}}
  </ul>


  
  



  